In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv("Batch size experiment.csv")
data_times = pd.read_csv("Batch size experiment times.csv")
print(data.shape)
data

(3960, 12)

,wins,wins_without_guess,time_elapsed,samples_considered,samples_with_solutions,difficulty,sample_size,use_num_mines_constraint,first_click_pos,first_click_is_zero,parameters_id,batch_size
0,10,10,0.390595,27,27,Beginner (9x9),11x11,True,"(3, 3)",True,1,10
1,10,9,0.453089,39,37,Beginner (9x9),11x11,True,"(3, 3)",True,1,10
2,9,9,0.499958,32,31,Beginner (9x9),11x11,True,"(3, 3)",True,1,10
3,8,8,0.609323,39,37,Beginner (9x9),11x11,True,"(3, 3)",True,1,10
4,10,10,0.421949,31,31,Beginner (9x9),11x11,True,"(3, 3)",True,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...
3955,177,72,1615.032455,9635,8526,Expert (16x30),18x32,True,"(3, 3)",True,3,500
3956,160,67,1440.321970,9708,8653,Expert (16x30),18x32,True,"(3, 3)",True,3,500
3957,186,78,1082.275299,9738,8742,Expert (16x30),18x32,True,"(3, 3)",True,3,500
3958,193,79,1199.917265,9856,8778,Expert (16x30),18x32,True,"(3, 3)",True,3,500
3959,170,60,1086.978126,9508,8399,Expert (16x30),18x32,True,"(3, 3)",True,3,500

In [50]:
print(data_times.shape)
data_times

(6, 2)

   batch_size  time_elapsed
0          10   2584.907562
1          25   2604.046351
2          50   2651.810141
3         100   2682.542370
4         250   2725.840438
5         500   2970.516882